.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex: 1;
  flex: 1;
  margin-right: 0;
}
.rows .columns-1 {
  flex-basis: 8.3333333333%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-1 {
    flex-basis: 8.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .rows .columns-1 {
    flex-basis: 8.3333333333%;
  }
}
.rows .columns-2 {
  flex-basis: 16.6666666667%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-2 {
    flex-basis: 16.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .rows .columns-2 {
    flex-basis: 16.6666666667%;
  }
}
.rows .columns-3 {
  flex-basis: 25%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-3 {
    flex-basis: 25%;
  }
}
@media screen and (max-width: 768px) {
  .rows .columns-3 {
    flex-basis: 25%;
  }
}
.rows .columns-4 {
  flex-basis: 33.3333333333%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-4 {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex-basis: 320px;
  }
  .rows .columns-4 {
    flex-basis: 33.3333333333%;
  }
}
.rows .columns-5 {
  flex-basis: 41.6666666667%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-5 {
    flex-basis: 41.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-5 {
    flex-basis: 41.6666666667%;
  }
}
.rows .columns-6 {
  flex-basis: 50%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-6 {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-6 {
    flex-basis: 50%;
  }
}
.rows .columns-7 {
  flex-basis: 58.3333333333%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows .columns-7 {
    flex-basis: 58.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-7 {
    flex-basis: 58.3333333333%;
  }
}
.rows .columns-8 {
  flex-basis: 66.6666666667%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows {
    flex-basis: 768px;
  }
  .rows .columns-8 {
    flex-basis: 66.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-8 {
    flex-basis: 66.6666666667%;
  }
}
.rows .columns-9 {
  flex-basis: 75%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows {
    flex: 1;
    margin-right: 0;
  }
  .rows .columns-9 {
    flex-basis: 75%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-9 {
    flex-basis: 75%;
  }
}
.rows .columns-10 {
  flex-basis: 83.3333333333%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows {
    flex: 1;
    margin-right: 0;
  }
  .rows .columns-10 {
    flex-basis: 83.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-10 {
    flex-basis: 83.3333333333%;
  }
}
.rows .columns-11 {
  flex-basis: 91.6666666667%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows {
    flex: 1;
    margin-right: 0;
  }
  .rows .columns-11 {
    flex-basis: 91.6666666667%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-11 {
    flex-basis: 91.6666666667%;
  }
}
.rows .columns-12 {
  flex-basis: 100%;
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .rows {
    flex: 1;
    margin-right: 0;
  }
  .rows .columns-12 {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 768px) {
  .rows {
    flex: 1;
  }
  .rows .columns-12 {
    flex-basis: 100%;
  }
}

@supports (display: grid) {
  .rows {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
  }
  .rows .columns-1 {
    grid-column: span 1;
    -ms-grid-column-span: 1;
    margin-right: 0;
  }
  .rows .columns-2 {
    grid-column: span 2;
    -ms-grid-column-span: 2;
    margin-right: 0;
  }
  .rows .columns-3 {
    grid-column: span 3;
    -ms-grid-column-span: 3;
    margin-right: 0;
  }
  .rows .columns-4 {
    grid-column: span 4;
    -ms-grid-column-span: 4;
    margin-right: 0;
  }
  .rows .columns-5 {
    grid-column: span 5;
    -ms-grid-column-span: 5;
    margin-right: 0;
  }
  .rows .columns-6 {
    grid-column: span 6;
    -ms-grid-column-span: 6;
    margin-right: 0;
  }
  .rows .columns-7 {
    grid-column: span 7;
    -ms-grid-column-span: 7;
    margin-right: 0;
  }
  .rows .columns-8 {
    grid-column: span 8;
    -ms-grid-column-span: 8;
    margin-right: 0;
  }
  .rows .columns-9 {
    grid-column: span 9;
    -ms-grid-column-span: 9;
    margin-right: 0;
  }
  .rows .columns-10 {
    grid-column: span 10;
    -ms-grid-column-span: 10;
    margin-right: 0;
  }
  .rows .columns-11 {
    grid-column: span 11;
    -ms-grid-column-span: 11;
    margin-right: 0;
  }
  .rows .columns-12 {
    grid-column: span 12;
    -ms-grid-column-span: 12;
    margin-right: 0;
  }

  @media screen and (max-width: 1023px) and (min-width: 767px) {
    .rows {
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 0 16px;
    }
    .rows .columns-1 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-5 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-7 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-8 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-9 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-10 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-11 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-12 {
      grid-column: span  8;
      -ms-grid-column-span: 8;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span 6;
      -ms-grid-column-span: 6;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span 4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 3;
      -ms-grid-column-span: 3;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .rows {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;
    }
    .rows .columns-1 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-4 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-5 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-6 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-7 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-8 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-9 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-10 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-11 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
    .rows .columns-12 {
      grid-column: span  4;
      -ms-grid-column-span: 4;
      margin-right: 0;
    }
    .rows .columns-3 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-2 {
      grid-column: span 2;
      -ms-grid-column-span: 2;
      margin-right: 0;
    }
    .rows .columns-1 {
      grid-column: span 1;
      -ms-grid-column-span: 1;
      margin-right: 0;
    }
  }
}

.newGrid_container {
  margin: 0 7.7777777778%;
  max-width: 1440px;
}
.newGrid_container:after {
  clear: both;
  contain: "";
  display: table;
}
@media screen and (min-width: 1664px) {
  .newGrid_container {
      width: 1440px;
      margin: 0 auto;      
  }
}
@media screen and (max-width: 768px) and (min-width: 321px) {
  .newGrid_container {
    margin: 0 40px;
  }
}
@media screen and (max-width: 320px) {
  .newGrid_container {
    margin: 0 24px;
  }
}


.box {
  margin-bottom: 16px;
  width: 100%;
  min-height: 75px;
  background: grey;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}

body {
    visibility: visible;
    background: #f7fafc;
    position: relative;
    font-size: 1.6rem;
    color: #555;
    overflow-x: hidden;
    text-underline-offset: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "MetropolisRegular", sans-serif;
}
::-webkit-selection {
    background-color: highlight; color: highlighttext;
  }
  ::-moz-selection {
    background-color: highlight; color: highlighttext;
  }
  ::selection {
    background-color: highlight; color: highlighttext;
  }
.mt-0 {
    margin-top: 0;
}
.shadow-container {
    word-break: break-word;
    padding: 20px 20px 94px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(157,171,186,.05),0 4px 4px 0 rgba(190,203,218,.05),0 8px 8px 0 rgba(157,171,186,.05),0 16px 16px 0 rgba(157,171,186,.05),0 32px 32px 0 rgba(157,171,186,.05);
    background-color: #fff;
    min-height: 80%;
}
.shadow-container .heading {
    padding-top: 8px;
    margin-top: 8px;
}
.btnn {
    width: auto !important;
}
.btn {
    display: inline-block;
    margin: 10px 0;
    font: 400 1.6rem/20px 'MetropolisSemiBold', sans-serif;
    cursor: pointer;
    min-width: 136px;
    height: 44px;
    border-radius: 22px;
    text-decoration: none;
}
.btn-mb {
    margin-bottom: 24px;
}
.pr-4 {
    padding-right: 16px;
}
.btn.primary {
    background-color: #0073e6;
    color: #fff;
}
.btn.primary:focus,
.btn.primary:hover {
    background-color: #0060BF;
}
.btn.primary:active {
    background-color: #004D99;
    border: 2px solid #004D99;
}
.btn.primary:disabled {
    background-color: #bfdfff;
    color: #63717e;
    border: 2px solid #bfdfff;
}

.padding-wrapper {
    padding: 54px 0;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.5;
    font-family: 'MetropolisSemiBold', sans-serif;
    color: #171b1f;
}

h2 {
    font: 400 1.8rem/1.78 'MetropolisRegular', sans-serif;
    color: #3d4852;
    margin-top: 6px;
}
.schlblockMessage {
    padding-top: 14px;
    padding-bottom: 64px;
    font: 400 1.8rem/1.78 'MetropolisRegular', sans-serif;
    color: #3d4852;
}
a:not([href]):not([tabindex]) {
    color: #0073E6;
    cursor: pointer;
    text-decoration: none;
}

.blocked-page a[href]:not([type="button"]), .blocked-page a[href]:hover:not([type="button"]),.blocked-page a[href]:focus:not([type="button"]), .blocked-page a[href]:active:not([type="button"]) {
    text-decoration: underline;
    color: #0073e6;
}
.smallBody {
    margin: 0 0 4px;
    font: 400 1.4rem/1.5 'MetropolisRegular' ,sans-serif;
    line-height: 1.43;
    color: #171b1f;
}
.regularBody {
    font: 400 1.6rem/1.5 'MetropolisRegular' ,sans-serif;
    color: #637484;
    margin-top: 6px;
}
.submit-btn {
    font-weight: 500;
    margin-top: 34px;
}
.permsn-btn {
    padding: 0px 40px;
}
.rhs-container {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
/*DETAILS STYLE*/

.details-heading {
    color: #171b1f;
    margin-bottom: 8px;
    font: 400 1.8rem/1.78 'MetropolisMedium', sans-serif;
}
.blocked-page .ask-permission {
    text-decoration: none;
    padding-bottom: 16px;
}

#show-more {
    font-family: 'MetropolisMedium', sans-serif;
}
.block-details {
    order: 1;
}

#aria-kb-link {
    order: 2;
}
#show-less {
    order: 3;
    padding-bottom: 14px;
    font-family: 'MetropolisRegular', sans-serif;
}
.cta-section {
    order: 4;
    padding-top: 34px;
}
.more-details {
    display: none;
    position: relative;
}
.details:first-child {
    padding-top: 32px;
}
.details {
    font-size: 1.6rem;
    display: none;
    color: #637484;
    line-height: 1.75;
    font-family: 'MetropolisRegular', sans-serif;
}
.details span:nth-child(2) {
    font-family: 'MetropolisMedium', sans-serif;
}
.lhs-img-container {
    margin: 0 auto;
    max-width: 512px;
}
.lhs-img-container img {
    max-width: 100%;
}
.permission-form {
    width: 90%;
    max-width: 400px;
}
.permission-form textArea {
    height: 75px;
    max-height: 200px;
    font-size: 1.4rem;
    font-family: 'MetropolisRegular', sans-serif;
    margin-top: 8px;
    padding: 4px 8px;
    border: 1px solid #9DB7D1;
}
.ask-permission .navigation-button {
    vertical-align: middle;
    font-size: 1.4rem;
    color: #0073E6;
}
.ask-permission button {
    color: #0073E6;
    background: none;
    border: 0;
    padding: 4px 0 0;
    font: 400 1.6rem/20px 'MetropolisMedium', sans-serif;
}
.emailstatus-container {
    display: flex;
    align-items: center;
    padding: 20px 0 24px;
}
a[href].btn, a[href].btn:focus, a[href].btn:hover, a[href].btn:active {
    text-decoration: none;
}
.blocked-page .btn-google {
    border: 1px solid #4285F4;
}
.blocked-page .btn-google, .blocked-page .btn-azure {
    max-height: 48px;
    height: auto;
    padding: 0 40px 0 0;
    font-family: 'MetropolisMedium', sans-serif !important;
    font-size: 1.4rem;
    border-radius: 2px;
    color: #fff;
    text-align: left;
}
.blocked-page .btn-google:hover, .blocked-page .btn-google:focus {
    color: #fff;
    background-color: #3367d6;
    font-family: 'MetropolisRegular', sans-serif;
}
.blocked-page .btn-google > img {
    height: 44px;
    padding-right: 24px;
}
.blocked-page .btn-azure > img {
    height: 20px;
    padding-right: 20px;
}
.m-0 {
    margin: 0;
}
.medium {
    font-family: 'MetropolisMedium', sans-serif;
}

/* Media Queries */

@media screen and (max-width: 1100px) {
    .top-logo {
        position: relative;
    }
}
@media screen and (max-width: 767px) {
    .rhs-container {
        padding: 32px 24px 0;
    }
    .lhs-img-container {
        max-width: 360px;
    }
    .schlblockMessage {
        padding-bottom: 24px;
    }
    .shadow-container {
        margin: 0;
    }
    .padding-wrapper {
        padding: 0;
    }
    .permission-form {
        max-width: 100%;
        width: 100%;
    }
}
.btn-dropdown{
    text-align: left;
    color: #3D4852;
    border-radius: 4px;
    font: 400 1.6rem/1.3 'MetropolisRegular' ,sans-serif;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #D2E4F7;
    -webkit-outline:none;
    padding: 4px 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-dropdown:last-child{
    margin-right:  0;
  }
  .btn-dropdown:focus{
    color: #3D4852;
    outline:none;
    box-shadow: none;
  }
  .btn-dropdown:hover{
    color: #3D4852;
  }
  .dropdown-menu {
    width: 100%;
    padding: 0;
    z-index: 40;
    border-radius: 4px;
    box-shadow: 0 15px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  }
  .dropdown-menu li:hover, .dropdown-menu li:focus {
    text-decoration: none;
    background-color: #F2F9FF;
  }
  .dropdown-menu li {
    font: 400 1.4rem/1.5 'MetropolisRegular' ,sans-serif;
    text-align: left;
    padding: 15px 16px 0px 16px;
    cursor: pointer;
  }
  .dropdown-menu li a {
    color: #637484 !important;
    text-decoration: none !important;
    border-bottom:1px solid #D2E4F7;
    padding-bottom: 9px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  .dropdown-menu li:last-child a{
      border-bottom:none;
  }
